 html{
   margin: 0;
   height: 100%;
   width: 100%;
 }
body{
  background-color: #101010;
  color: #FFF;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: arial;
  overflow: hidden;

}

header{
  position: relative;
  top: 2.5%;
  font-size: 2vh;
}

header ul{
  list-style: none;
  margin: 0;
}

header ul li{
  display: inline-block;
  margin: 0 20px;
}

header ul li img{
  vertical-align: middle;
  height: 2em;
  width: 2em;
}

.button_wrapper{
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  margin: 0;
  padding: 0;
}

.button_wrapper ul{
  text-align: center;
  list-style: none;
}



.selectButton{
  height: 10vh;
  width: 40%;
  cursor: pointer;
  font-size: 2vh;
  background-color: #1e1e1e;
  outline: none;
  border: none;
  border-radius: 1em;
  color:#FFF;
  margin: 20px;
  text-align: center;
}


.selectButton::before{
  content:"";
  display: inline-block;/*忘れずに！*/
  width: 3vh;/*画像の幅*/
  height: 3vh;/*画像の高さ*/
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 1vh;
}

#serverSel::before{
  background-image: url(serv.png);
}

#clientSel::before{
  background-image: url(cli.png);
  background-position: center;
}

/**Order Button**/
#orderButton{
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 4vh solid #5EBDD1;
  border-radius: 3vh;
  background-color:#62D1E8;
  color:#FFF;
  outline: none;
  font-size: 5vh;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;
}#orderButton:active{
  border:none;
  height: 45vh;
  width: 45vh;
  font-size: 4vh;
}

/**Order Handy**/
.genreNav ul{
  position: relative;
  top:3vh;
  list-style: none;
}

.genreNav ul li{
  color:#AFAFAF;
  font-size: 2vh;
  display: inline-block;
  margin: 0 20px;
}

.contents{
  width: 100%;
  display: inline-block;
  text-align: left;
  position: relative;
  top: 10vh;
}

.meal-item{
  background-color: #1e1e1e;
  height: 25vw;
  width: 25vw;
  margin: 30px;
  display: inline-block;
  border-radius: 2vh;
  position: relative;
  top: 0;
  text-align: center;
  vertical-align: middle;
}

.food-image{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 5em;
  width: 5em;
}

.food-name{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color:#FFF;
  font-size: 2em;
  margin: 0;
}

.food-price{
  display: block;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  color:#707070;
  font-size: 2em;
  margin: 0;
}

.addToCartButton{
  position: absolute;
  right: 0;
  bottom: 0;
  height:6rem;
  width: 6rem;
  border-radius: 100%;
  transform: translate(25%,25%);
  border: none;
  outline:none;
  background-color: #62D1E8;
  background-image:url("plus.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  cursor: pointer;
}

.slide-up-menu{
  position: absolute;
  bottom: 0;
  transform: translateY(85%);
  background-color: #1E1E1E;
  height:50%;
  width: 100%;
  border-radius: 2vh 2vh 0 0;
  animation: 1s slide-up-anim ease;
  transition-duration: 1s ease-in;
}

/** @keyframes slide-up-anim {

  0%{
    transform: translateY(0);
  }

  100%{
    transform: translateY(-100%);
  }

} **/
